* {
    padding: 0;
    margin: 0;
}
.navBar {
    padding: 0 200px;
    width: 100%;
    display: flex;
    background: #000;

    .navBar_item {
        list-style: none;
        padding: 10px;
        a {
            color: #fff;
            text-decoration: none;
        }

        .active {
            color: red;
        }
    }
}