.box_content_courses {
    width: 900px;
    margin: 0 auto;

    .box_content {
        border: 1px solid red;
        margin: 10px 0;
        list-style: none;
        border-radius: 5px;
        padding: 10px;

        .btn_create {
            height: 30px;
            padding: 0px 13px;
            line-height: 30px;
            background: red;
            border-radius: 30px;
            display: inline-block;
            color: #fff;
            text-decoration: none;
            margin-top: 10px;
        }
    }
}